body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Major Mono Display', monospace;
}

.calculator-body {
    width: 450px;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.top-window {
    margin: 0px 0px 5px 0px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
/*
#info {
    border: 2px solid black;
    flex: 1 0 auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
}
*/
#input-display {
    border: 2px solid black;
    flex: 2 0 auto;
    font-size: 58px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 5px;
}

.menu-bar {
    height: 80px;
    margin: 5px 0px 10px 0px;
    display: flex;
    gap: 10px;
}

.menu-btn {
    border: 2px solid black;
    flex: 1 0 auto;
}

.num-operators {
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn, 
.menu-btn {
    border: 2px solid black;
    flex: 1 0 auto; 
    height: 80px;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}