body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 100px;
    font-family: 'Major Mono Display', monospace;
    /*the below makes the button text unselectable*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*  */
    background-image: linear-gradient(to right top, #ff6f91, #ff7c81, #ff8b72, #ff9c67, #ffae61, #ffaa62, #ffa763, #ffa364, #ff8a6f, #ff7482, #f26499, #d65db1);
    background-repeat: no-repeat;
}

html {
    height:100%;
}

button {
    border: none;
    background-color: #D65DB1;
    font-family: inherit;
    border-radius: 20px;

    box-shadow: -2px -2px 2px #f684d4,
            2px 2px 5px #c0429a;
    color: #fec4ed;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.62)
}

.calculator-body {
    width: 425px;
    min-width: 425px;
    height: auto;
    padding: 10px;
    /*border: 2px solid black;*/
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #D65DB1;
    
}

.display {
    margin: 0px 0px 5px 0px;
    height: 120px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    border-radius: 25px;
    background-color: #f9c9ea;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
                inset 10px 10px 15px rgba(61, 61, 61, 0.12);
    
    overflow: hidden;
    white-space: nowrap;

    color: #db5ab4;
    text-shadow: 0px 0px 3px #d767b5;
}

#topWindow {
    /*border: 2px solid black;*/
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
}

#bottomWindow {
    /*border: 2px solid black;*/
    height: 70px;
    border-top: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 5px;
}

.utilityBtns {
    height: 80px;
    margin: 5px 0px 10px 0px;
    display: flex;
    gap: 10px;
}

.numOperators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn,
.utilityBtn {
    /* border: 2px solid black; */
    flex: 1 0 auto; 
    height: 80px;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#container {
    display: flex;
    flex-direction: column;
}

#infoText {
    width: 425px;
    min-width: 425px;
    padding: 10px;
    text-align: center;
}